* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #dcdcdc;
}

.haeder-address-book {
  position: fixed;
  width: 1440px;
  height: 89px;
  left: 150px;
  top: 0px;
  background: #590bff;
}
.haeder-address-book__h1 {
  position: absolute;
  width: 403px;
  height: 63px;
  left: 28px;
  top: 6px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 63px;
  color: #ffffff;
}

.main-address-book {
  width: 1439px;
  position: fixed;
  margin: 0px 0px 0px 0px;
  height: 90vh;
  background: #ffffff;
  top: 89px;
  left: 150px;
}
.aside-address-book {
  position: relative;
  width: 266px;
  height: 457px;
  top: 47px;
  border-right: 3px solid #b7b1b1;
}
.aside-address-book__h2 {
  position: absolute;
  left: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}
.aside-address-book__container-lincs {
  position: absolute;
  left: 14px;
  top: 64px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.aside-address-book__lincs {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #ff8000;
}
.aside-address-book__margin-lincs {
  margin: 14px;
}

.section-addres-book {
  position: absolute;
  width: 1145px;
  height: 699px;
  left: 293px;
  top: 55px;
}
.section-addres-book__scroll {
  position: absolute;
  overflow-y: scroll;
  width: 1145px;
  height: 796px;
  top: 0px;
  left: 0px;
}
.section-addres-book__capital-letter-a {
  width: 1123px;
  height: 41px;
  position: sticky;
  left: 469px;
  top: 0px;
  margin: 0;

  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 39px;
  padding-left: 11px;

  background: #590bff;
}
.section-addres-book__container-text {
  list-style-type: none;
  width: 132px;
  height: max-content;
  left: 13px;
  top: 54px;
  padding-left: 19px;
  padding-top: 61px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.section-addres-book__capital-letter-a_b {
  position: sticky;
  background: #590bff;
}

.section-addres-book__capital-letter-a_v {
  position: sticky;
  background: #590bff;
}
