* {
    box-sizing: border-box;
  }

  body {
    margin: 50px;
    background: #e7dddb;
  }
.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
}   
.container  {
    margin: auto;
}
.container__input {
    text-align: center;
    height: 40px;
    font-size:35px ;
}
.container__result{
  border: 1px solid;
  height: 70px;
  font-size: 20px;
  text-align: center;
  background: rgb(245, 242, 242);
}
.container__click{
  height: 40px;
  font-size: 35px;
  padding-bottom: 39px
}